# `use asdf` is very slow, instead we manually set what we need
abspath() {
    cd "$(dirname "$1")"
    printf "%s/%s\n" "$(pwd)" "$(basename "$1")"
    cd "$OLDPWD"
}

# golang configurations
# setting GOBIN allows us to use `go install`
export GOBIN=$(abspath "$(go env | grep GOROOT | cut -d'"' -f2)/../bin")
# adding it to $PATH allows us to use those binaries in our shell
export PATH="$PATH:$GOBIN"
