[user]
	name = Adithya Balaji
	email = adithyabsk@gmail.com
	signingkey = DE795E7C6B2177DD
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
[commit]
	gpgsign = true
[init]
	defaultBranch = main
# https://blog.nilbus.com/take-the-pain-out-of-git-conflict-resolution-use-diff3/
# https://stackoverflow.com/a/27417871/3262054
[merge]
	conflictstyle = diff3
