[user]
	name = Adithya Balaji
	email = adithyabsk@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILBXqRDIzCS7sdDTWv4mjzh30LuR84hV/r1CjVSr5iqA adithyabsk@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[init]
	defaultBranch = main
# https://blog.nilbus.com/take-the-pain-out-of-git-conflict-resolution-use-diff3/
# https://stackoverflow.com/a/27417871/3262054
[merge]
	conflictstyle = diff3
