[user]
	name = Adithya Balaji
	email = adithyabsk@gmail.com
	signingkey = DE795E7C6B2177DD
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
[commit]
	gpgsign = true
